.gallery__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  list-style: none;
}
.gallery__img {
  display: block;
  width: 300px;
  height: auto;
}

.gallery__item:not(:first-child) {
  margin-left: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
